name: Deploy React App to EC2 and Run React Development Server

on:
  push:
    branches:
      - main  # Trigger deployment on push to main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Set up SSH agent
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: |
          ${{ secrets.EC2_SSH_PRIVATE_KEY }}

    - name: Copy React app to EC2
      run: |
        # Create a directory for the app on EC2
        ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} << 'EOF'
          mkdir -p /home/ubuntu/react-app
        EOF
        # Copy all the code to EC2
        scp -o StrictHostKeyChecking=no -r ./ ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }}:/home/ubuntu/react-app/

    - name: Install Dependencies
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} << 'EOF'
          cd /home/ubuntu/react-app
          npm install --legacy-peer-deps
          echo "Dependencies installed"
        EOF

    - name: Build React app on EC2
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} << 'EOF'
          cd /home/ubuntu/react-app
          npm run build
          echo "React Build completed on EC2"
        EOF

    - name: Set up NGINX to Proxy to React App (port 3000)
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} << 'EOF'
          # Install NGINX if not already installed
          sudo apt update
          sudo apt install -y nginx

          # Copy the NGINX configuration file from the repository to the EC2 instance
          sudo mkdir -p /etc/nginx/sites-available
          sudo cp /home/ubuntu/react-app/nginx/react-app.conf /etc/nginx/sites-available/react-app

          # Enable the site by creating a symlink
          sudo ln -s /etc/nginx/sites-available/react-app /etc/nginx/sites-enabled/

          # Test NGINX configuration
          sudo nginx -t

          # Restart NGINX to apply changes
          sudo systemctl restart nginx
        EOF
