name: Deploy React App to EC2 and Run React Development Server

on:
  push:
    branches:
      - main  # Trigger deployment on push to main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Set up AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: arn:aws:iam::453019402688:role/OIDCRoleForGitHub  # Your OIDC role ARN
        aws-region: us-east-1  # Replace with your AWS region

    - name: Get EC2 public IP address (from GitHub Secrets)
      id: ec2_ip
      run: |
        EC2_PUBLIC_IP="${{ secrets.EC2_PUBLIC_IP }}"
        echo "::set-output name=ec2_ip::$EC2_PUBLIC_IP"

    - name: Copy React app to EC2
      run: |
        # Use SCP to copy the code directly to EC2 using stored EC2 IP and username secrets
        scp -o StrictHostKeyChecking=no -r ./ ${{ secrets.EC2_USERNAME }}@${{ steps.ec2_ip.outputs.ec2_ip }}:/home/ubuntu/react-app/

    - name: Install Dependencies on EC2
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USERNAME }}@${{ steps.ec2_ip.outputs.ec2_ip }} << 'EOF'
          cd /home/ubuntu/react-app
          npm install --legacy-peer-deps
          echo "Dependencies installed on EC2"
        EOF

    - name: Build React app on EC2
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USERNAME }}@${{ steps.ec2_ip.outputs.ec2_ip }} << 'EOF'
          cd /home/ubuntu/react-app
          npm run build
          echo "React Build completed on EC2"
        EOF

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Set up AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: arn:aws:iam::453019402688:role/OIDCRoleForGitHub  # Your OIDC role ARN
        aws-region: us-east-1  # Replace with your AWS region

    - name: Get EC2 public IP address (from GitHub Secrets)
      id: ec2_ip
      run: |
        EC2_PUBLIC_IP="${{ secrets.EC2_PUBLIC_IP }}"
        echo "::set-output name=ec2_ip::$EC2_PUBLIC_IP"

    - name: Start React app on EC2
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USERNAME }}@${{ steps.ec2_ip.outputs.ec2_ip }} << 'EOF'
          cd /home/ubuntu/react-app
          nohup npm start > /dev/null 2>&1 &  # Run react app in the background
          echo "React app is running on EC2"
        EOF
